@model AgroPlan.Web.Models.Field.CreateFieldViewModel
<div class="modal-body mx-3">
    <form asp-action="Create" id="createForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input class="btn btn-info mb-2" type="button" id="addComponent" value="Dodaj działkę" />
        <div id="components">
            @Html.EditorFor(modelItem => Model.Parcels)
        </div>
        <div class="form-group">
            <input type="submit" value="Dodaj" class="btn btn-outline-primary btn-block buttonAdd" />
        </div>
    </form>
</div>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var formName = "#createForm";
    function ValidateFormRenew(formName) {
        var currForm = $(formName);
        currForm.removeData("validator");
        currForm.removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse(currForm);
    }
$('#addComponent').on('click',function() {
    $.ajax({
        async: true,
        data: $(formName).serialize(),
        type: "POST",
        url: '@Url.Action("AddParcel")',
        success: function(partialView) {
            $(formName+' #components').html(partialView);
            ValidateFormRenew(formName);
        }
    });
});
</script>
<script>
    $('body').on('click', '.delete', function (e) {
    e.preventDefault();
    var id = $(this).parent().parent().parent().prevAll().length;
    $.ajax({
        async: true,
        data: $(formName).serialize() + "&index=" + id,
        type: "POST",
        url: '@Url.Action("DeleteParcel")',
        success: function(partialView) {
            $(formName + ' #components').html(partialView);
            ValidateFormRenew(formName);
        }
    });
});
</script>