@model AgroPlan.Web.Models.Plant.EditPlantViewModel

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" class="form-control" hidden />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EfaNitrogenRate" class="control-label"></label>
        <input asp-for="EfaNitrogenRate" class="form-control" />
        <span asp-validation-for="EfaNitrogenRate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Zapisz zmiany" class="btn btn-outline-secondary btn-block buttonAdd" />
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}