@using Microsoft.AspNetCore.Identity
@using AgroPlan.Core.Domain
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">Witaj @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Plant" asp-action="index">Zarządzaj</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light" style="margin: 0px;text-transform: none; font-size:1rem;padding:.5rem 1rem;">Wyloguj się</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Załóż konto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
        </li>
    }
</ul>
