<!--- Left menu -->
<div class="col-md-2 mb-4">
    <ul class="nav nav-pills flex-column">
        <li><a class="nav-link font-weight-bold @MenuModel.PlantListNavClass(ViewContext)" asp-controller="Plant" asp-action="index">Lista roślin</a></li>
        <li><a class="nav-link font-weight-bold @MenuModel.FertilizerListNavClass(ViewContext)" asp-controller="Fertilizer" asp-action="index">Lista nawozów</a></li>
        <li><a class="nav-link font-weight-bold @MenuModel.MostCommonlyGrownPlantNavClass(ViewContext)" asp-controller="MostCommonlyGrownPlant" asp-action="index">Wybierz rośliny</a></li>
    </ul>
</div>